<h2>Usuarios</h2>
<table datatable="ng" class="row-border hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.ID }}</td>
            <td>{{ user.Name }}</td>
            <td>{{ user.Role }}</td>
            <td class="text-right">
                <a href="#!/usuario/{{ user.ID }}" class="btn btn-secondary" role="button" aria-pressed="true">Editar</a>
                <button type="button" class="btn btn-danger" ng-click="borrar(user.ID)">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>
<a href="#!/usuario/" class="btn btn-primary" role="button" aria-pressed="true">Nuevo</a>